/* Dùng @apply của Tailwind để định nghĩa style cho các thẻ HTML
   bên trong khu vực editor. 
   .ProseMirror là class mặc định của Tiptap */

.ProseMirror {
  /* Xóa viền mặc định của trình duyệt */
  outline: none;
}

/* Style cho các thẻ HTML cơ bản */
.ProseMirror p {
  @apply mb-4;
}

.ProseMirror h1 {
  @apply text-3xl font-bold mb-4;
}

.ProseMirror h2 {
  @apply text-2xl font-bold mb-4;
}

.ProseMirror h3 {
  @apply text-xl font-bold mb-4;
}

.ProseMirror strong {
  @apply font-bold;
}

.ProseMirror em {
  @apply italic;
}

.ProseMirror ul,
.ProseMirror ol {
  @apply list-inside mb-4;
}

.ProseMirror ul {
  @apply list-disc;
}

.ProseMirror ol {
  @apply list-decimal;
}

.ProseMirror li {
  @apply ml-4;
}

/* Style cho placeholder */
.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd; /* Màu placeholder của Tailwind (gray-400) */
  pointer-events: none;
  height: 0;
}
