@import "tailwindcss";
@import "./Tiptap.css";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* cho IE và Edge */
  scrollbar-width: none; /* cho Firefox */
}
