name: Build and Deploy FE

on:
  push:
    branches:
      - production 

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy using ssh
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: 22
          script: |
            cd /var/www/chatbothcc
            git fetch origin
            git checkout production
            git pull

            echo "POSTGRES_USER=${{ secrets.POSTGRES_USER }}" > .env
            echo "POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}" >> .env
            echo "POSTGRES_DB=${{ secrets.POSTGRES_DB }}" >> .env
            echo "DATABASE_URL=${{ secrets.DATABASE_URL }}" >> .env
            
            echo "" >> .env
            echo "# Redis" >> .env
            echo "REDIS_HOST=${{ secrets.REDIS_HOST }}" >> .env
            echo "REDIS_PORT=${{ secrets.REDIS_PORT }}" >> .env
            echo "REDIS_DEFAULT_TTL=${{ secrets.REDIS_DEFAULT_TTL }}" >> .env
            echo "REDIS_URL=redis://${{ secrets.REDIS_HOST }}:${{ secrets.REDIS_PORT }}/0" >> .env
            
            echo "" >> .env
            echo "# Chroma" >> .env
            echo "CHROMA_DATA_PATH=${{ secrets.CHROMA_DATA_PATH }}" >> .env
            
            echo "" >> .env
            echo "# App secret" >> .env
            echo "SECRET_KEY=${{ secrets.SECRET_KEY }}" >> .env
            
            echo "" >> .env
            echo "# URLs" >> .env
            echo "URL=${{ secrets.URL }}" >> .env
            echo "URL_BE=${{ secrets.URL_BE }}" >> .env
            echo "URL_WS=${{ secrets.URL_WS }}" >> .env
            echo "URL_IMAGE=${{ secrets.URL_IMAGE }}" >> .env

            docker compose down  || true
            docker compose build --no-cache
            docker compose up -d
